$break-main-1000: 1000px;
$break-main-800: 800px;
$break-main-600: 600px;
$break-main-400: 400px;

$break-burger: $break-main-400;

$break-header-sphere: 1160px;
$break-header-currency-update: 930px;
$break-header-user-panel: 910px;
$break-header-game-links: 920px;

$break-dividends: 660px;

$break-security-1300: 1300px;
$break-security-860: 860px;
$break-security-700: 700px;

$break-transactions-1300: 1300px;
$break-transactions-1150: 1150px;
$break-transactions-1050: 1050px;
$break-transactions-970: 970px;
$break-transactions-460: 460px;
$break-transactions-pagination: 800px;
$break-transactions-pagination-2: 660px;

$break-balance-1190: 1190px;
$break-balance-600: $break-main-600;

$break-notification-1120: 1120px;
$break-notification-950: 950px;
$break-notification-500: 500px;
$break-notification-drop-450px: 450px;

$break-footer-top-update: 920px;
$break-footer-top: 550px;
$break-footer-1300: 1300px;
$break-footer-right: 1250px;
$break-footer-2: 860px;
$break-footer-3: 800px;
$break-footer-4: 480px;

$break-footer-hide-left: 1030px;
$break-footer-hide-right: 1320px;

$break-modal-height: 560px;
$break-modal-height-width: 560px;
$break-modal-tron: 720px;

$break-betEditor-mobile: $break-main-600;
$break-betEditor: 1780px;
$break-game-betInfo: 910px;
$break-game-betInfo-2: 930px;
$break-game-roundTimer: 910px;
$break-game-roundTimer-2: 1772px;
$break-game-betHistory: 930px;
$break-game-betHistory-2: 860px;
$break-game-betHistory-3: $break-main-800;
$break-game-betHistory-4: 365px;
$break-game-betsCount: 1150px;

$break-roulette-lg: 1090px;

$break-lastWinner-start: 1340px;
$break-lastWinner: 1010px;

$break-top: 700px;

$break-airdrop-1: $break-main-600;
$break-airdrop-2: $break-main-400;
$break-airdrop-3: $break-main-1000;
$break-airdrop-4: 500px;

$break-referral-1: $break-main-1000;
$break-referral-2: $break-main-600;

$break-token1: 1600px;
$break-token2: $break-main-400;

$break-fair-game1: 1400px;
$break-fair-game2: $break-main-400;
