<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body class="fixed-by-modal">

<!--<div class="modal-parent modal&#45;&#45;pointer" style="">
    <div class="modal-overlay"></div>
    <div class="modal">
        <div class="modal-content">
            <div class="token">
                <div class="token__header">
                    <div class="token__header-left"></div>
                    <div class="token__header-right">BCL TOKEN</div>
                </div>
                <div class="token__content">
                    &lt;!&ndash;<div class="token-mining-level">
                        <div class="token-mining-level__title">
                            Token address: TNseZPWrxi27HHnykQ8Ub6HZfrYXEeGaXP <br> Сurrent mining level: 0 level
                            <span class="no-wrap">( bet NaN TRX to mine 1 BCL )</span>
                        </div>

                        <div class="token-bar">
                            <div class="token-bar__percentage"></div>
                            <div class="token-bar__label">0/0</div>
                        </div>

                        <div class="token-mining-level__description">
                            Next mining level: 1 level <span class="no-wrap">( bet 700 TRX to mine 1 BCL )</span>
                        </div>
                    </div>

                    <div class="token-dividends">
                        <div class="token-dividends__title">Available Dividends</div>
                        <div title="" class="token-dividends__amount">0.00 TRX</div>
                        <div class="token-dividends__countdown token-countdown">
                            <div class="token-countdown__title">Dividends Countdown:</div>
                            <div class="token-countdown__bordered">Payout in progress</div>
                        </div>

                        <div class="token-dividends__description">
                            A total of
                            <span class="token-dividends__description-accented">0.000 BCL</span> is&nbsp;frozen&nbsp;across&nbsp;the&nbsp;network<br>You will receive
                            <span class="token-dividends__description-accented">0.000 TRX</span>
                        </div>
                    </div>

                    <div class="token-statistic">
                        <div class="token-statistic__column">
                            <div class="token-statistic__title">Available</div>
                            <div title="0.000000000000" class="token-statistic__amount">0.000 BCL</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">Withdraw</span>
                            </button>
                        </div>

                        <div class="token-statistic__column">
                            <div class="token-statistic__title">Withdrawn</div>
                            <div class="token-statistic__amount">0.000 BCL</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">
                                    Freeze
                                    <span class="token-statistic__freezing-info"></span>
                                </span>
                            </button>
                        </div>

                        <div class="token-statistic__column">
                            <div class="token-statistic__title">Frozen</div>
                            <div class="token-statistic__amount">0.000 BCL</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">Unfreeze</span>
                            </button>
                        </div>
                    </div>

                    <div class="token-statistic">
                        <div class="token-statistic__column token-statistic__column&#45;&#45;one">
                            <div class="token-statistic__title">Available</div>
                            <div class="token-statistic__amount">0 TRX</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">Payout</span>
                            </button>
                        </div>
                    </div>&ndash;&gt;
                </div>
            </div>

            <div class="window-close"></div>
        </div>
    </div>
</div>-->

<div class="modal-parent modal--pointer" style="">
    <div class="modal-overlay"></div>
    <div class="modal">
        <div class="modal-content">
            <div class="fair-game-checker">
                <div class="modal-header">Provably Fair Game</div>
                <div class="fair-game-checker__content">
                    <!--<div class="fair-game-checker__input-block">
                        <label for="fair-game-checker__round-info" class="fair-game-checker__label">Block Number:</label>
                        <input id="fair-game-checker__round-info" type="text" readonly="readonly" class="fair-game-checker__input">
                    </div>

                    <div class="fair-game-checker__input-block">
                        <label for="fair-game-checker__current-round" class="fair-game-checker__label">Last Ticket:</label>
                        <input id="fair-game-checker__current-round" type="text" readonly="readonly" class="fair-game-checker__input">
                    </div>

                    <div class="fair-game-checker__input-block">
                        <label for="fair-game-checker__current-answer" class="fair-game-checker__label">Win Ticket:</label>
                        <div class="fair-game-checker__input-pending-container">
                            <input id="fair-game-checker__current-answer" readonly="readonly" type="text" class="fair-game-checker__input fair-game-checker__input&#45;&#45;answer"> &lt;!&ndash;&ndash;&gt;
                        </div>
                    </div>

                    <button class="fair-game-checker__button bluebutton2">Recheck</button>

                    <div class="fair-game-checker__text">
                        <div class="fair-game-checker__paragraph">All bets on Fast-Game is placed through our smart contracts on the TRON.network blockchain. This ensures that Fast-Game is probably-fair. This is how it works:</div>
                        <div class="fair-game-checker__paragraph">You can enter your own SEED to the TRON.network blockchain. If you don't enter your own SEED, then a public random SEED will be used.</div>
                        <div class="fair-game-checker__paragraph">When the player placed a bet and enters their own SEED, the smart contract will generate a random SHA-256 HASH, the timestamp of the current bet, and the previous blockchain from coinbase will be mixed to generate a random hash. The SEED generated from the smart contract and the SEED provided by the player will then be mixed to generate a random LUCKY number.</div>
                    </div>-->
                </div>

                <div class="modal-footer">
                    <div class="modal-footer__title">Fair Blockchain game:</div>

                    <ul class="modal-footer__list">
                        <li class="modal-footer__list-item">
                            <a target="_blank" href="https://github.com/BCLounge/tron" class="icomoon-github modal-footer__link">
                                <span class="modal-footer__text">Open source code</span>
                            </a>
                        </li>

                        <li class="modal-footer__list-item">
                            <span class="icomoon-tron modal-footer__link">Tron Smart Contract</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="window-close"></div>
        </div>
    </div>
</div>

</body>
</html>
