<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body class="fixed-by-modal">
<!--<div class="modal-parent modal&#45;&#45;pointer" style="">
    <div class="modal-overlay"></div>
    <div class="modal">
        <div class="modal-content">
            <div class="token">
                <div class="token__header">
                    <div class="token__header-left"></div>
                    <div class="token__header-right">BCL TOKEN</div>
                </div>
                <div class="token__content">
                    &lt;!&ndash;<div class="token-mining-level">
                        <div class="token-mining-level__title">
                            Token address: TNseZPWrxi27HHnykQ8Ub6HZfrYXEeGaXP <br> Сurrent mining level: 0 level
                            <span class="no-wrap">( bet NaN TRX to mine 1 BCL )</span>
                        </div>

                        <div class="token-bar">
                            <div class="token-bar__percentage"></div>
                            <div class="token-bar__label">0/0</div>
                        </div>

                        <div class="token-mining-level__description">
                            Next mining level: 1 level <span class="no-wrap">( bet 700 TRX to mine 1 BCL )</span>
                        </div>
                    </div>

                    <div class="token-dividends">
                        <div class="token-dividends__title">Available Dividends</div>
                        <div title="" class="token-dividends__amount">0.00 TRX</div>
                        <div class="token-dividends__countdown token-countdown">
                            <div class="token-countdown__title">Dividends Countdown:</div>
                            <div class="token-countdown__bordered">Payout in progress</div>
                        </div>

                        <div class="token-dividends__description">
                            A total of
                            <span class="token-dividends__description-accented">0.000 BCL</span> is&nbsp;frozen&nbsp;across&nbsp;the&nbsp;network<br>You will receive
                            <span class="token-dividends__description-accented">0.000 TRX</span>
                        </div>
                    </div>

                    <div class="token-statistic">
                        <div class="token-statistic__column">
                            <div class="token-statistic__title">Available</div>
                            <div title="0.000000000000" class="token-statistic__amount">0.000 BCL</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">Withdraw</span>
                            </button>
                        </div>

                        <div class="token-statistic__column">
                            <div class="token-statistic__title">Withdrawn</div>
                            <div class="token-statistic__amount">0.000 BCL</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">
                                    Freeze
                                    <span class="token-statistic__freezing-info"></span>
                                </span>
                            </button>
                        </div>

                        <div class="token-statistic__column">
                            <div class="token-statistic__title">Frozen</div>
                            <div class="token-statistic__amount">0.000 BCL</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">Unfreeze</span>
                            </button>
                        </div>
                    </div>

                    <div class="token-statistic">
                        <div class="token-statistic__column token-statistic__column&#45;&#45;one">
                            <div class="token-statistic__title">Available</div>
                            <div class="token-statistic__amount">0 TRX</div>
                            <button disabled="disabled" class="token-statistic__button bluebutton3">
                                <span class="bluebutton3__label">Payout</span>
                            </button>
                        </div>
                    </div>&ndash;&gt;
                </div>
            </div>

            <div class="window-close"></div>
        </div>
    </div>
</div>-->
<svg class="svg-sprite" style="position: absolute; z-index: -1;">
    <symbol id="#svg-sprite__cross-symbol-small" viewBox="0 0 12 12" width="12" height="12">
        <path d="M7.49 6l4.21 4.21c.98.98-.5 2.47-1.49 1.49L6 7.49 1.79 11.7c-.98.98-2.47-.5-1.49-1.49L4.51 6 .31 1.79C-.67.81.81-.68 1.8.3L6 4.51 10.21.3c.98-.98 2.47.5 1.49 1.49L7.49 6z" fill="#1a4874"/>
    </symbol>
</svg>

<div class="modal-parent modal--pointer" style="">
    <div class="modal-overlay"></div>
    <div class="modal">
        <div class="modal-content">
            <div class="fair-game-apex">
                <div class="modal-header">Fair Game</div>
                <div class="fair-game-apex__content">
                    <div class="fair-game-apex__map">
                        <div class="fair-game-apex__label">Round map</div>
                        <div class="fair-game-apex__map fair-game-apex-map">
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="fair-game-apex-map__columner">
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                                <div class="fair-game-apex-map__cell fair-game-apex-map__cell--winning"></div>
                                <div class="fair-game-apex-map__cell">
                                    <svg width="12" height="12" class="game-knobs__cross-button">
                                        <use xlink:href="#svg-sprite__cross-symbol-small"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fair-game-apex__inputs">
                        <div class="fair-game-apex__input fair-game-apex-input">
                            <div class="fair-game-apex__label">Round #</div>
                            <input type="text" class="fair-game-apex-input__input" value="198">
                        </div>
                        <div class="fair-game-apex__input fair-game-apex-input">
                            <div class="fair-game-apex__label">Map</div>
                            <input type="text" class="fair-game-apex-input__input" value="8633254789652">
                        </div>
                        <div class="fair-game-apex__input fair-game-apex-input">
                            <div class="fair-game-apex__label">Bet Tx HASH</div>
                            <input type="text" class="fair-game-apex-input__input" value="KH0&BGFRCBUIJ1658C">
                        </div>
                        <div class="fair-game-apex__input fair-game-apex-input">
                            <div class="fair-game-apex__label">Random string</div>
                            <input type="text" class="fair-game-apex-input__input" value="97MGFG%VFULLP356">
                        </div>
                    </div>
                    <div class="fair-game-apex__bottom">
                        <div class="fair-game-paragraphs">
                            <div class="fair-game-paragraphs__paragraph">Calculated HASH:
                                <span class="fair-game-paragraphs__span">98JHVHMK09JH675</span></div>
                            <div class="fair-game-paragraphs__paragraph">Round HASH:
                                <span class="fair-game-paragraphs__span">F17LKkhjuj087NHVML6FC4CXE1</span></div>
                        </div>
                        <div class="game-knobs game-knobs--fair">
                            <button class="game-knobs__column game-knobs__column--one">
                                <span class="game-knobs__span-simple">Check</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer__title">Fair Blockchain game:</div>
                    <ul class="modal-footer__list">
                        <li class="modal-footer__list-item">
                            <a target="_blank" href="https://github.com/BCLounge/tron" class="icomoon-github modal-footer__link">
                                <span class="modal-footer__text">Open source code</span> </a>
                        </li>
                        <li class="modal-footer__list-item">
                            <span class="icomoon-tron modal-footer__link">Tron Smart Contract</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="window-close"></div>
        </div>
    </div>
</div>
</body>
</html>
